# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv
.env

# Personal data
data/personal/*
!data/personal/.gitkeep

# Streamlit
.streamlit/

# OS
.DS_Store

# Dev Test
test_run.py

# IDEs
.vscode/
.idea/
