# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv
.env

# Personal data
data/personal/*
!data/personal/.gitkeep

# Logs
data/logs/*
!data/logs/.gitkeep

# Streamlit
.streamlit/

# OS
.DS_Store

# Dev Test
test_run.py

# Notes
NOTES.txt

# IDEs
.vscode/
.idea/
